#------------------------------------------------------------------------------
# Exclude Python cache files
*.pyc
__pycache__
.pytest_cache

# Exclude Python vritual environments
env*

# Exclude VIM swap files
*swp

# Exclude enviroment-variable files
.environment/*

# Exclude 'rope' configuration and cache
.vscode/.ropeproject

# Exclude build files
build/
dist/
*.egg-info

# Files for mypy
.mypy_cache
#------------------------------------------------------------------------------
