# ---------------------------------------------------------------------
# Testing
pytest
# ---------------------------------------------------------------------
# Linting
pycodestyle
pylint
mypy
flake8
pydocstyle
darglint2
# ---------------------------------------------------------------------
# Formatting
autopep8
# ---------------------------------------------------------------------
# Versioning
bumpver
# ---------------------------------------------------------------------
# Documentation
sphinx
sphinx-rtd-theme
sphinxcontrib-mermaid
# ---------------------------------------------------------------------