# ---------------------------------------------------------------------
# Testing
pytest
# ---------------------------------------------------------------------
# Linting
pycodestyle
pylint
mypy
flake8
pydocstyle
# ---------------------------------------------------------------------
# Formatting
autopep8
# ---------------------------------------------------------------------
# Versioning
bumpver
# ---------------------------------------------------------------------