name: Test and deploy (main)
run-name: Test and deploy (main)
on:
  push:
    branches:
      main

jobs:
  check-version:
    name: Check version tag
    uses: ./.github/workflows/_check-version-tag.yml
    with:
      tag-name: final
  integration:
    name: Integration testing
    uses: ./.github/workflows/_integration.yml
    needs: check-version
    with:
      code-quality-may-fail: false
  build-and-deploy:
    name: Deployment
    uses: ./.github/workflows/_deploy.yml
    needs: integration
    secrets:
      repository_directory: ${{ secrets.CB_KR23_REPO_DIR }}
